<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nanum+Gothic+Coding&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">
    <link rel="stylesheet" href="/css/styles.css ">
    <title>TravellerCoder</title>
</head>

<body>
    <!-- SECCION INICIO -->
        <header>
            
            <div class="translate">
                <a href="#" id="idioma" class="idioma">
                    <img src="images/English.png" alt="icono bandera">
                </a>
                <ul id="idiomas" class="idiomas">
                    <li class="opcion">
                        <a href="#">
                            <img src="images/Español.png" alt="icono bandera">
                            <span>Español</span>
                        </a>
                    </li>
                    <li class="opcion">
                        <a href="./english">
                            <img src="images/English.png" alt="icono bandera">
                            <span id="english">English</span>
            </div>
            </a>
            </li>
            </ul>
            </div>
        </header>
          <!-- SECCION HERO -->
          <section class="hero">
            <div class="hero-text">
                <h4>Front End Dev</h4>
                <h3>JavaScript NodeJS</h3>
                <h1>Traveller Coder</h1>
                <p>Web development for companies and freelancers. <br>
                    Your website idea is one click away from becoming real</p>
            </div>

            <div id="conoceme" class="conoceme ">
                <h2></h2>
                <p>I'm Guillermo Bukowski, Argentinian, web developer and RV traveler. With the development I finance
                    my
                    trip from Argentina to Alaska.<br>
                    I am a proactive person passionate about constant challenges and with good communication for the
                    job
                    team up. Always on the move, both professionally and in life as a traveler.
                </p>
        </div>
        </section>
            </article>
        </div>
        <div id="proyectos" class="caja-principal contenedor">
            <article class='proyectos'>
                <h2>Projects </h2>
                
                <div class='Proyecto-detail'>
                    <div class="nav">
                        <ul> Exquis
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://exquis-menu.onrender.com/" target="_blank">Go to site</a>
                            </li>
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://github.com/TravellerCoder/Exquis-Menu" target="_blank">Go to repository on Git Hub</a>
                            </li>
                        </ul> 
                    </div>
                    <p>Restaurant menu model made with HTML, CSS and Javascript. Responsive </p>
                    <div class="img-sitio">
                        <img src="images/exquis-1.png" alt="">
                        <img src="images/exquis-3.png" alt="">
                        <img src="images/exquis-2.png" alt="">
                    </div>
                </div>
                <div class='Proyecto-detail'>
                    <div class="nav">
                        <ul> Shoes-shop
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://shoesshop-n9rs.onrender.com/" target="_blank">Go to site</a>
                            </li>
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://github.com/TravellerCoder/Shoes-Shop" target="_blank">Go to repository on Git Hub</a>
                            </li>
                        </ul> 
                    </div>
                    <p>
                        E-commerce of shoes with a shopping cart. Responsive<br>
                        Made with HTML, CSS and Javascript </p>
                    <div class="img-sitio">
                        <img src="images/shoes-shop1.png" alt="">
                        <img src="images/shoes-shop2.png" alt="">
                        <img src="images/shoes-shop3.png" alt="">
                    </div>
                </div>
                <div class='proyecto-detail'>
                    <div class="nav">
                        <ul> Form
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://form-travellercoder.netlify.app/" target="_blank">Go to site</a>
                            </li>
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://github.com/TravellerCoder/Formulario.git" target="_blank">Go to repository on Git Hub</a>
                            </li>
                        </ul> 
                    </div>
                    <p>
                        Registration form with field validations and error messages<br>
                        Made withHTML, CSS y Javascript </p>
                    <div class="img-sitio">
                        <img src="images/form 1.png" alt="">
                        <img src="images/form 2.png" alt="">
                        <img src="images/form 3.png" alt="">
                    </div>
                </div>
                <div class='proyecto-detail'>
                    <div class="nav">
                        <ul> Weather App
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://weathertravellerapp.netlify.app/" target="_blank">Go to site</a>
                            </li>
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://github.com/TravellerCoder/Weather-App.git" target="_blank">Go to repository on Git Hub</a>
                            </li>
                        </ul> 
                    </div>
                    <p>Weather app with city search using third-party APIs<br>
                        Made withHTML, CSS y Javascript </p>
                    <div class="img-sitio">
                        <img src="images/weather 1.png" alt="">
                        <img src="images/weather 2.png" alt="">
                        <img src="images/weather 3.png" alt="">
                    </div>
                </div>
            </article>
        </div>
        <div id="contacto" class="caja-principal">
            <article class='contacto'>
                <h2>Contact Me</h2>
                <ul class="contactos">
                    <li class="contactos-item">
                        <a href="#">
                            <i class="fa-brands fa-instagram icon"></i>
                        </a>
                    </li>
                    <li class="contactos-item">
                        <a href="https://www.linkedin.com/in/guillermo-bukowski/" target="blank">
                            <i class="fa-brands fa-linkedin icon"></i>
                        </a>
                    </li>
                    <li class="contactos-item">
                        <a href="mailto:guillermobukowski@gmail.com" target="blank">
                            <i class="fa-solid fa-envelope icon"></i>
                        </a>
                    </li>
                    <li class="contactos-item">
                        <a href="https://github.com/TravellerCoder/" target="blank">
                            <i class="fa-brands fa-github icon"></i>
                        </a>
                    </li>
                    <li class="contactos-item">
                        <a href="https://api.whatsapp.com/send/?phone=5491161324145" target="blank">
                            <i class="fa-brands fa-whatsapp icon"></i>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
        <foooter class="copyrigth">
            <p>Made by Traveller Coder 2023</p><img class="logo-copy" src="images/logo-1.png" alt="logo copy"
                width="50">
        </foooter>
        <script src="js/translate.js"></script>
        <script src="js/img-sitio.js"></script>

</body>

</html>