<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nanum+Gothic+Coding&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">
    <link rel="stylesheet" href="/css/styles.css ">
    <title>Traveller Coder</title>
</head>

<body>

    <!-- SECCION INICIO -->
        <header>
            
            <div class="translate">
                <a href="#" id="idioma" class="idioma">
                    <img src="images/Español.png" alt="icono bandera">
                </a>
                <ul id="idiomas" class="idiomas">
                    <li class="opcion">
                        <a href="#">
                            <img src="images/Español.png" alt="icono bandera">
                            <span id="spanish">Español</span>
                        </a>
                    </li>
                    <li class="opcion">
                        <a href="./english">
                            <img src="images/English.png" alt="icono bandera">
                            <span id="english">English</span>
            </a>
            </li>
            </ul>
            </div>

        </header>
        <!-- SECCION HERO -->
        <section class="hero">
            <div class="hero-text">
                <h4>Front End Dev</h4>
                <h3>JavaScript NodeJS</h3>
                <h1>Traveller Coder</h1>
                <p>Desarrollo Web para empresas y freelance. <br>
                    Tu idea de sitio web esta a un click de volverse real</p>
            </div>

            <div id="conoceme" class="conoceme ">
                <h2></h2>
                <p>Soy Guillermo Bukowski, argentino, desarrollador web y viajero en casa rodante. Con el desarrollo
                    financio mi
                    viaje de Argentina a Alaska.<br>
                    Soy una persona proactiva apasionado de los desafios constantes y con buena comunicacion para el
                    trabajo
                    en equipo. Siempre en movimiento, tanto profesionalmente como en la vida de viajero.
                </p>
        </div>
        </section>

        <div id="proyectos" class="caja-principal contenedor">
            <article class='proyectos'>
                <h2>Proyectos </h2>

                <div class='proyecto-detail'>
                    <div class="nav">
                        <ul> Exquis
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://exquis-menu.onrender.com/" target="_blank">Ir al sitio</a>
                            </li>
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://github.com/TravellerCoder/Exquis-Menu" target="_blank">Ir al repositorio en Git Hub</a>
                            </li>
                        </ul> 
                    </div>
                    <p>Modelo de carta de un restaurante realizado con HTML, CSS y Javascript. Responsive </p>
                    <div class="img-sitio">
                        <img src="images/exquis-1.png" alt="image Exquis">
                        <img src="images/exquis-3.png" alt="">
                        <img src="images/exquis-2.png" alt="">
                    </div>
                </div>
                <div class='proyecto-detail'>
                    <div class="nav">
                        <ul> Shoes-shop
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://shoesshop-n9rs.onrender.com/" target="_blank">Ir al sitio</a>
                            </li>
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://github.com/TravellerCoder/Shoes-Shop" target="_blank">Ir al repositorio en Git Hub</a>
                            </li>
                        </ul> 
                    </div>
                    <p>E-commerse de calzados con carrito de compras. Responsive<br>
                        Realizado con HTML, CSS y Javascript </p>
                    <div class="img-sitio">
                        <img src="images/shoes-shop1.png" alt="">
                        <img src="images/shoes-shop2.png" alt="">
                        <img src="images/shoes-shop3.png" alt="">
                    </div>
                </div>
                <div class='proyecto-detail'>
                    <div class="nav">
                        <ul> Formulario
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://form-travellercoder.netlify.app/" target="_blank">Ir al sitio</a>
                            </li>
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://github.com/TravellerCoder/Formulario.git" target="_blank">Ir al repositorio en Git Hub</a>
                            </li>
                        </ul> 
                    </div>
                    <p>Formulario de Registro con validaciones de campos y mensajes de error<br>
                        Realizado con HTML, CSS y Javascript </p>
                    <div class="img-sitio">
                        <img src="images/form 1.png" alt="">
                        <img src="images/form 2.png" alt="">
                        <img src="images/form 3.png" alt="">
                    </div>
                </div>
                <div class='proyecto-detail'>
                    <div class="nav">
                        <ul> Weather App
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://weathertravellerapp.netlify.app/" target="_blank">Ir al sitio</a>
                            </li>
                            <li>
                                <i class="ri-corner-down-right-fill"></i>
                                <a href="https://github.com/TravellerCoder/Weather-App.git" target="_blank">Ir al repositorio en Git Hub</a>
                            </li>
                        </ul> 
                    </div>
                    <p>Aplicacion de clima con busqueda por ciudad consumiendo API de terceros<br>
                        Realizado con HTML, CSS y Javascript </p>
                    <div class="img-sitio">
                        <img src="images/Weather 1.png" alt="">
                        <img src="images/Weather 2.png" alt="">
                        <img src="images/Weather 3.png" alt="">
                    </div>
                </div>
            </article>
        </div>
        <div id="contacto" class="caja-principal">
            <article class='contacto'>
                <h2>Contactame</h2>
                <ul class="contactos">
                    <li class="contactos-item">
                        <a href="https://api.whatsapp.com/send/?phone=5491161324145" target="blank">
                            <i class="fa-brands fa-whatsapp icon"></i>
                        </a>
                    </li>
                    <li class="contactos-item">
                        <a href="https://www.linkedin.com/in/guillermo-bukowski/" target="blank">
                            <i class="fa-brands fa-linkedin icon"></i>
                        </a>
                    </li>
                    <li class="contactos-item">
                        <a href="mailto:guillermobukowski@gmail.com" target="blank">
                            <i class="fa-solid fa-envelope icon"></i>
                        </a>
                    </li>
                    <li class="contactos-item">
                        <a href="https://github.com/TravellerCoder/" target="blank">
                            <i class="fa-brands fa-github icon"></i>
                        </a>
                    </li>
                    <li class="contactos-item">
                        <a href="#">
                            <i class="fa-brands fa-instagram icon"></i>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
        <foooter class="copyrigth">
            <p>Made by Traveller Coder 2023</p><img class="logo-copy" src="images/logo-1.png" alt="logo copy"
                width="50">
        </foooter>
        <script src="js/translate.js"></script>
        <script src="js/img-sitio.js"></script>


</body>

</html>