<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="stylesheet" href="/css/normalize.css ">
    <title>Traveller Coder</title>
</head>

<body>

    <!-- SECCION INICIO -->
    <section id="inicio">
        <header>
            <nav id="nav">
                <ul class="nav-list">
                    <li>
                        <a href="#conoceme" onclick="seleccionar()">

                            <span>Conoceme</span>
                        </a>
                    </li>
                    <li>
                        <a href="#skills" onclick="seleccionar()">

                            <span>Skills</span>
                        </a>
                    </li>
                    <li>
                        <a href="#proyectos" onclick="seleccionar()">

                            <span>Proyectos</span>
                        </a>
                    </li>

                    <li>
                        <a href="#contacto" onclick="seleccionar()">

                            <span>Contactame</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="translate">
                <a href="#" id="idioma" class="idioma">
                    <img src="images/Español.png" alt="icono bandera">
                </a>
                <ul id="idiomas" class="idiomas">
                    <li class="opcion">
                        <a href="#">
                            <img src="images/Español.png" alt="icono bandera">
                            <span id="spanish">Español</span>
                        </a>
                    </li>
                    <li class="opcion">
                        <a href="./english">
                            <img src="images/English.png" alt="icono bandera">
                            <span id="english">English</span>
            </div>
            </a>
            </li>
            </ul>
            </div>

        </header>
        <!-- SECCION PERFIL -->
        <div class="caja-principal contenedor">
            <article class="perfil">
                <img src="images/logo-1.png" alt='foto de perfil' width=200px>
                <p>Traveller Coder <br>
                    Desarrollador Web Full Stack</p>
            </article>
        </div>
        <div id="conoceme" class="caja-principal contenedor ">
            <article class='traveller-coder'>
                <h2>Conoceme</h2>
                <p>Soy Guillermo Bukowski, argetnino, desarrollador web y viajero en casa rodante. Con el desarrollo
                    financio mi
                    viaje de Argentina a Alaska.<br>
                    El lenguaje que uso en este momento es Javascript aunque estoy en capacitacion y estudio de otros
                    lenguajes.<br>
                    Soy una persona proactiva apasionado de los desafios constantes y con buena comunicacion para el
                    trabajo
                    en equipo. Siempre en movimiento, tanto profesionalmente como en la vida de viajero.
                </p>
            </article>
        </div>
        <div id='skills' class="caja-principal contenedor">
            <article class='skills'>
                <h2>Skills</h2>
                <div class='skills-icons'>
                    <img class="logos-skill" src="images/HTML5_logo_and_wordmark.svg.png" alt="logo html" width="120">
                    <img class="logos-skill" src="images/CSS3_logo_and_wordmark.svg.png" alt="logo html" width="85">
                    <img class="logos-skill" src="images/javascript.png" alt="logo html" width="100">
                    <img class="logos-skill" src="images/mysql.png" alt="logo html" width="100">
                    <img class="logos-skill" src="images/node-js-tutorial.webp" alt="logo html" width="100px">
                    <img class="logos-skill" src="images/logoexpress.jpg" alt="logo html" width="100px">
                </div>
            </article>
        </div>
        <div id="proyectos" class="caja-principal contenedor">
            <article class='proyectos'>
                <h2>Proyectos </h2>
                <div class='Proyecto-detail'>
                    <a href="https://github.com/TravellerCoder/grupo_10_MotoTIRE" target="blank">
                        <h3> Moto Tire</h3>
                    </a>
                    <p>Proyecto integrador en desarrollo, de cursada de Desarrollo Web Full Stack en Digital House<br>
                        E-commerse, hecho en Javascript, HTML y CSS, con base de datos de usuarios y productos, con
                        perfil de usuario y de
                        administrador. Mobile First con modelo de arquitectura MVC </p>
                    <div class="img-sitio">
                        <img src="images/tire-1.png" alt="">
                        <img src="images/tire-2.png" alt="">
                        <img src="images/Tire-3.png" alt="">
                    </div>
                </div>
                <div class='Proyecto-detail'>
                    <a href="https://exquis-menu.onrender.com/" target="blank">
                        <h3> Exquis</h3>
                    </a>
                    <p>Modelo de carta de un restaurante realizado con HTML, CSS y Javascript. Responsive </p>
                    <div class="img-sitio">
                        <img src="images/exquis-1.png" alt="">
                        <img src="images/exquis-3.png" alt="">
                        <img src="images/exquis-2.png" alt="">
                    </div>
                </div>
                <div class='Proyecto-detail'>
                    <a href="https://shoesshop-n9rs.onrender.com/" target="blank">
                        <h3> Shoes Shop</h3>
                    </a>
                    <p>E-commerse de calzados con carrito de compras. Responsive<br>
                        Realizado con HTML, CSS y Javascript </p>
                    <div class="img-sitio">
                        <img src="images/shoes-shop1.png" alt="">
                        <img src="images/shoes-shop2.png" alt="">
                        <img src="images/shoes-shop3.png" alt="">
                    </div>
                </div>
            </article>
        </div>
        <div id="contacto" class="caja-principal contenedor">
            <article class='contacto'>
                <h2>Contactame</h2>
                <div class="contacto-links">
                    <a href="https://www.linkedin.com/in/guillermo-bukowski/" class="contact-links" target="blank"><img
                            class="contacto-img" src="/images/linkedin-icon-2.svg" class="contact-links"
                            alt="linkedin"></a>
                    <a href="https://github.com/TravellerCoder/" target="blank"><img class="contacto-img"
                            src="/images/github.png" alt="github"></a>
                    <a href="mailto:guillermobukowski@gmail.com" class="contact-links" target="blank"><img
                            class="contacto-img" src="/images/gmail.png" alt="gmail"></a>
                    <a href="https://api.whatsapp.com/send/?phone=5491161324145" class="contact-links"
                        target="blank"><img class="contacto-img" src="/images/whatsapp.webp" alt="gmail"></a>
                </div>
            </article>
        </div>
        <foooter class="copyrigth">
            <p>Made by Traveller Coder 2023</p><img class="logo-copy" src="images/logo-1.png" alt="logo copy"
                width="50">
        </foooter>
        <script src="js/translate.js"></script>
        <script src="js/img-sitio.js"></script>


</body>

</html>