<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="stylesheet" href="/css/normalize.css ">
    <title>Portafolio Guille</title>
</head>

<body>

    <div class="caja-principal contenedor">
        <article class="perfil">
            <img src="images/IMG_20221004_211556.jpg" alt='foto de perfil' width=200px>
            <p>Traveller Coder <br>
                Desarrollador Web Full Stack</p>
        </article>
    </div>
    <div class="caja-principal contenedor ">
        <article class='traveller-coder'>
            <h2>Traveller Coder</h2>
            <p>Soy Guillermo Bukowski, desarrollador web y viajero en casa rodante. Con el desarrollo financio mi
                viaje de Argentina a Alaska.<br>
                El lenguaje que uso en este momento es Javascript aunque estoy en capacitacion y estudio de otros lenguajes.<br>
                Soy una persona proactiva apasionado de los desafios constantes y con buena comunicacion para el trabajo
                en equipo. Siempre en movimiento, tanto profesionalmente como en la vida de viajero. 
            </p>
        </article>
    </div>
    <div class="caja-principal contenedor">
        <article class='skills'>
            <h2>Skills</h2>
            <div class='skills-icons'>
                <img class="logos-skill" src="images/HTML5_logo_and_wordmark.svg.png" alt="logo html" width="120">
                <img class="logos-skill" src="images/css3_logo_and_wordmark.svg.png" alt="logo html" width="85">
                <img class="logos-skill" src="images/javascript.png" alt="logo html" width="100">
                <img class="logos-skill" src="images/mysql.png" alt="logo html" width="100">
                <img class="logos-skill" src="images/nodejs.png" alt="logo html" width="100px">
                <img class="logos-skill" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQppx4z0gx-zmY-9mSJtMCamAoerKXZrfCJcRscj60&s" alt="logo html" width="100px">
            </div>
        </article>
    </div>
    <div class="caja-principal contenedor">
        <article class='proyectos'>
            <h2>Proyectos </h2>
            <div class='Moto Tire'>
                <h3> Moto Tire</h3>
                <p>Proyecto integrador de cursada de Desarrollo Web Full Stack en Digital House<br>
                    E-commerse, en Javascript, con base de datos de usuarios y productos, con perfil de usuario y de
                    administrador. Todavia en proceso de desarrollo. </p>
                <a href="https://github.com/TravellerCoder/grupo_10_MotoTIRE" target="blank"><img class="mototire"
                        src="images/MainLogoPNG.png" width="100px"> </a>
        </article>
    </div>
    <div class="caja-principal contenedor">
        <article class='contacto'>
            <h2>Contactame</h2>
            <div class="contacto-links">
            <a href="https://www.linkedin.com/in/guillermo-bukowski/" class="contact-links" target="blank"><img
                    class="contacto-img" src="/images/linkedin-icon-2.svg" class="contact-links" alt="linkedin"></a>
            <a href="https://github.com/TravellerCoder/" target="blank"><img class="contacto-img"
                    src="/images/github.png" alt="github"></a>
            <a href="mailto:guillermobukowski@gmail.com" class="contact-links" target="blank"><img class="contacto-img"
                    src="/images/gmail.png" alt="gmail"></a>
            </div>
        </article>
    </div>
    <foooter class="copyrigth">
        <p>Made by Traveller Coder 2023</p>
    </foooter>

</body>

</html>