html {
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
    
}
body {
    font-family: 'Raleway', sans-serif;
    background: center  repeat  url(https://img.freepik.com/vector-gratis/fondo-hexagonal-oscuro-color-degradado_79603-1409.jpg?w=1380&t=st=1700052700~exp=1700053300~hmac=8f22ce581ff654af7c19262bd37598b8a2ce066f482d841ff198581cb70095ea);
    ;
}


p {
    font-family: 'Comic sans ms', sans-serif;
    font-size: 35; 
    font-style: italic;
    text-align: center;
}

h2 {
    font-family: 'raleway', 'sans-serif';
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: 
    white;
    text-align: center;
}


.perfil{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-blend-mode: color-burn;
    border-radius: 12px;
    margin: 0 auto;
    align-items: center;
}

.perfil img{
    border-radius:25px;
    margin-top: 25px;
}

.perfil p{
    font-family: 'raleway', 'sans-serif';
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color:antiquewhite;
    
    
}

.traveller-coder{
    width: 90%;
    background-blend-mode: color-burn;
    border-radius: 12px;
    margin: 0 auto;
}

.traveller-coder p{
    display: flex;
    text-align: center;
    padding: 10px;
    font-family: 'raleway', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color:antiquewhite;
}

.traveller-coder p:hover{
    transition: 100ms;
    font-size: 35px;
}

.skills{
    width: 90%;
    background-blend-mode: color-burn;
    border-radius: 12px;
    margin: 0 auto;
}

.skills-icons{
    display: flex;
    align-items: center;
    flex-direction:row ;
    justify-content: space-around;
}

.proyectos{
    width: 90%;
    background-blend-mode: color-burn;
    border-radius: 12px;
    margin: 0 auto;
}

.proyectos h3{
    font-family: 'raleway', 'sans-serif';
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color:antiquewhite;
}

.proyectos p{ 
    display: flex;
    text-align: justify;
    padding: 10px;
    font-family: 'raleway', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color:antiquewhite;
}

.mototire{
    width: 200px;
    height: 70px;
    border-radius: 7px;
}
.contacto{
    width: 90%;
    background-blend-mode: color-burn;
    border-radius: 12px;
    margin: 0 auto;
}

.contacto-links{
    display: flex;
    justify-content: center;
}

.contacto-img{
    width: 75px;
    height: 75px;
    border-radius: 15%;
    margin: 10px;

}

.copyrigth p {
    display: flex;
    justify-content: center;
    font-family: 'raleway', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: antiquewhite;
}

@media (max-width: 769px){
    skills-icons {
        display: inline;
        justify-content: space-between;
    }
}
    