html {
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
    
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/586/469/non_2x/advanced-digital-network-connection-internet-computer-technology-background-vector.jpg); 
    background-size: cover;

}
#inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#inicio header{
    width: 100%;
}
#inicio header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    position: relative;

}
#inicio header nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-end;
}
#inicio header nav ul{
    display: flex;
    list-style: none;
}

#inicio header nav ul li{
    text-align: left;
}
#inicio header nav ul li i{
    display: block;
    color: #a8a8a8;
    margin-bottom: 10px;
}
#inicio header nav ul li a{
    display: block;
    text-decoration: none;
    color:#a8a8a8;
    margin: 0px 20px;
    font-size: 35px;
    font-family: 'raleway', 'sans-serif';
}

#inicio header nav ul li a span{
    font-family: 'raleway', 'sans-serif';
    font-style: italic;
    font-weight: bold;
}


p {
    font-family: 'Comic sans ms', sans-serif;
    font-size: 35; 
    font-style: italic;
    text-align: center;
}

h2 {
    font-family: 'raleway', 'sans-serif';
    font-size: 50px;
    font-weight:bolder;
    font-style: italic;
    color: white;
    text-align: center;
    justify-content: center;
}


.perfil{
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 12px;
    margin: 0 auto;
    align-items: center;
}

.perfil img{
    border-radius:25px;
    margin-top: 25px;
}

.perfil p{
    font-family: 'raleway', 'sans-serif';
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color:antiquewhite;
    
    
}

.traveller-coder{
    width: 90%;
    background-color: #ffffff05;
    border-radius: 12px;
    margin: 0 auto;
}

.traveller-coder p{
    display: flex;
    text-align: center;
    padding: 10px;
    font-family: 'raleway', 'sans-serif';
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color:antiquewhite;
}

.skills{
    width: 90%;
    background-blend-mode: color-burn;
}

.skills-icons{
    display: flex;
    align-items: center;
    flex-direction:row ;
    justify-content: space-around;
}

.logos-skill {
    border-radius: 0.75rem;
    margin: 0.5rem
}
.proyectos{
    width: 90%;
    background-blend-mode: color-burn;
    border-radius: 12px;
    margin: 0 auto;
}

.proyectos h3{
    font-family: 'raleway', 'sans-serif';
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color:antiquewhite;
}

.proyectos a{
    text-decoration: none;
}

.proyectos p{ 
    display: flex;
    text-align: justify;
    padding: 10px;
    font-family: 'raleway', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color:antiquewhite;
}

.mototire{
    width: 200px;
    height: 70px;
    border-radius: 7px;
}
.contacto{
    width: 90%;
    background-blend-mode: color-burn;
    border-radius: 12px;
    margin: 0 auto;
}

.contacto-links{
    display: flex;
    justify-content: center;
}

.contacto-img{
    width: 45px;
    height: 45px;
    border-radius: 15%;
    margin: 10px;

}
.copyrigth {
    justify-content: center;
    flex-direction: wrap;
    align-items: center;
    display: flex;
}

.copyrigth img {
    margin-left: 1rem;
    border-radius: 1rem;
}
.copyrigth p {
    display: flex;
    justify-content: center;
    font-family: 'raleway', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: antiquewhite;
}

@media (max-width: 769px){

body {
    display: flex;
    flex-direction: column;
}

#inicio header {
    display: none;
}

.traveller-coder p:hover{
    display: block;
}

.skills{
    box-sizing: border-box;
    display: grid;
    width: 100%;
}

.skills-icons{
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

}

    